/*
 * © 2024 Fraunhofer-Gesellschaft e.V., München
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.parameters {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}