/*
 * © 2024 Fraunhofer-Gesellschaft e.V., München
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.chart-container {
  display: flex;
  align-items: center;
  max-height: 450px;
  padding: inherit;
  
}

.chart {
  width: 70%;
}

.chart-description {
  max-height: inherit;
  overflow: hidden;
  overflow-y: auto;
  margin-right: 15px;
  text-align: justify;
  width: 30%;
}