/*
 * © 2024 Fraunhofer-Gesellschaft e.V., München
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.micat-charts {
    overflow: auto;
    height: 100%;
}

.indicators-container {
    min-height: 400px;
}